@import 'theme';

content {
    display: block;


    // border: solid 4px red;


    .content {
        outline: solid 8px transparent;
        transition: outline .5s ease-out;
        width: calc(11in * @scale );
        height: calc(8.5in * @scale );
        outline: solid 8px blue;
        &.flash-red {

        }
    }
}